/* Reset */
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,
sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,
section,time,mark,audio,video,a{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size:100%;
  vertical-align: baseline;
  background: transparent;
}
html,body{
	font-family:Arial, Helvetica, sans-serif;
	min-height:100%;
	min-width:100%;
	display:block;
}
a{
	color: #6474ff;
}
/**
 * 	
 */
#header{
	background-color:#f5f5f5;
}
#header h1{
	padding:25px;
	font-size:26px;
	font-weight:normal;
	text-transform:uppercase;
}

#main{
	display:table;
	width:100%;
	min-height:800px;
}

#main .col{
	display:table-column;
}
#main .row{
	display:table-row;
}
#main .cell{
	display:table-cell;
	vertical-align:top;
}
#main .nav{
	width:250px;
	background-color:#fafafa;
}
#main .content{
	width:100%;
}
/**
*	 	
*/
.nav .list{
	padding:15px 0;
	width:250px;
}
.nav .list a{
	font-size:14px;
	position:relative;
}
.nav .list a small{
	font-size:11px;
	color: #ff5157;
}
.nav .list a,.nav .list h3{
	display:block;
	padding:10px 25px;
	color:#333;
	text-decoration:none;
}
.nav .list a:after{
	display:none;
	content:'';
	position:absolute;
	width:5px;
	right:0px;
	top:0px;
	bottom:0px;
}
.nav .list a.active:after{
	display:block;
	background-color:#fff;
}
.nav .list a:hover:after{
	display:block;
	background-color:#dfdfdf;
}
.nav .list h3{
	color:#949494;
}
.nav .list a:hover{
	background-color:rgba(0,0,0,0.05);
}
.nav .list > li > a{
	font-weight:bold;
	font-size:16px;
}
.nav .list > li{
	
}
#content{
	overflow:hidden;
}
#footer{
	
}

#response_header{
	padding:25px;
	border-bottom:1px solid #f5f5f5;
}
#response_header h1{
	text-transform:uppercase;
}
#response_header h1 em{
	font-style:normal;
}
	em.success{
		color:green;
	}
	em.failure{
		color:red;
	}

#response_content{
	padding:25px;
}

table.response{
	border-collapse: collapse;
	border-spacing:0;
	max-width:650px;
}
table.response th,table.response td{
	border:1px solid #dfdfdf;
	padding:10px;
}

form.checkout{
	padding:25px 25px 15px 25px;
}
form.checkout fieldset{
	margin-bottom:10px;
	font-size:0;
}
form.checkout label{
	font-size:14px;
}
form.checkout input[type="text"]{
	min-width:200px;
}
form.checkout input[type="text"],
form.checkout input[type="password"],
form.checkout button{
	border:1px solid #ccc;
	padding:5px;
	outline:0;
	font-size:14px;
}
form.checkout select{
	border:1px solid #ccc;
	padding:4px;
	outline:0;
	font-size:14px;
}
form.checkout input[type="text"] + select{
	margin-left:10px;
}
form.checkout input.short{
	min-width:89px;
	max-width:89px;
}
form.checkout input[type="text"] + input[type="text"]{
	margin-left:10px;
}
form.checkout button{
	padding:5px 10px;
	cursor:pointer;
}


html,body{
	//overflow:hidden;
}

.modal-show{
	overflow:hidden;
}

.modal{
	position:absolute;
	z-index:9999;
	top:0;
	left:0;
	bottom:0;
	right:0;
	overflow-y:auto;
	background-color:rgba(0,0,0,0.2);
	display:none;
}

.modal.show{
	display:block;
}

.modal-window{
	padding:5px;
	max-width:640px;
	margin:10px auto;
	position:relative;
	z-index:10;
	background-color:#fff;
}
.modal-header{
	line-height:50px;
	background-color: #2d81d4;
	color:#fff;
}
.modal-header:after{
	content:'';
	clear:both;
	display:block;
}
.modal-title{
	float:left;
	padding:0 20px;
	font-size:20px;
	text-transform:uppercase;
}
.modal-close{
	float:right;
	padding:0 20px;
	display:block;
	text-align:center;
	font-size:32px;
	cursor:pointer;
}
.modal-close:hover{
	color:#ff9;
}
.modal-content{

}

.modal-checkout{
	max-width:400px;
	top:80px;
}
.modal-checkout .modal-content{
	height:560px;
}